{% load static %}
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="javascript:window.location.reload()">
            <img src="http://localhost:8081/examples/logo1.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            <span class="home-brand">

                  {{username}}
           </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mx-auto" id="navid">
                
            </ul>
                   <li>
                         <a href="http://localhost:8082/famousme/" /> home  </a>
</li>
             
            </ul>
        </div>
    </div>
</nav>


<link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
<div class="container clearfix">
   <div class="avatar">
     <input id="fileUpload" type="file" />
      <svg version="1.1" id="camera" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 25 15" enable-background="new 0 0 25 15" xml:space="preserve">
      <path id="cameraFrame" fill="none" stroke="white" stroke-miterlimit="10" d="M23.1,14.1H1.9c-0.6,0-1-0.4-1-1V1.9c0-0.6,0.4-1,1-1h21.2
         c0.6,0,1,0.4,1,1v11.3C24.1,13.7,23.7,14.1,23.1,14.1z"/>
      <path id="circle" fill="none" stroke="#ffffff" stroke-width="1.4" stroke-miterlimit="12" d="M17.7,7.5c0-2.8-2.3-5.2-5.2-5.2S7.3,4.7,7.3,7.5s2.3,5.2,5.2,5.2
         S17.7,10.3,17.7,7.5z"/>
      <g id="plus">
         <path fill="none" id="plusLine" class="line" stroke="#ffffff" stroke-linecap="round" stroke-miterlimit="10" d="M20.9,2.3v4.4"/>
         <path fill="none" class="line"stroke="#ffffff" stroke-linecap="round" stroke-miterlimit="10" d="M18.7,4.6h4.4"/>
      </g>
     </svg>
     <div id="openModal">
       <span>Drop here or</span>
     </div>
      </div
   </div>
        <div class="right">
          <p>Mike</p>
          <p>Miller</p>
          <p>France</p>
        </div>
</div>
<p class="src">Photo source: Shutterstock<p>


















<script>



//window.top.location="http://localhost:8082/famousme/";
</script>